<div class="stock">
        <div class="card">
            <div [ngStyle]="setStyles()">
              {{stock.description}}
            </div>            

            <div  >
              <img
              *ngFor="let bild of repeat; index as indexNummer"
              [src]="stock.iconUrl" alt="stocks"
              [ngStyle]="setStyles()"  
              >
              <!--span>{{indexNummer + 1}}</span-->
            </div>            
            
            <div>
              {{stock.longDescription}}
            </div>
            <button (click)="showClick()">{{stock.category}}</button>
        </div>    
      </div>

    <!--  *ngFor="let bilder of count"-->