<div class="stock">
  <div class="card">
      <div>
        {{stock.description}}<br>

      ++ {{myCountService.numberStocks}} ++
      </div>            

      <div>
          <div [style.position]="'relative'" style="background-image:url('../assets/cash-bg.png')">            
                  
                <div *ngIf="aktienZahl">
                  <p class="aktienzahl">
                   {{myCountService.numberPrice}} €</p>
                </div>

                <div *ngIf="moneyZahl">
                    <p class="aktienzahl">
                     {{myCountService.numberPrice * myCountService.numberStocks }} €</p>
                  </div>


          <img *ngFor="let bild of repeat" [ngStyle]="setStyles()"           
          [src]="bild"
          [alt]="bild"
          > 
          <!--[src]="this.stock.iconUrl" [alt]="bild"-->

          <!--img *ngIf="showDetail(indexNummer);"                
          [src]="this.stock.iconUrl" alt="stocks"
          [ngStyle]="setStyles()"  
          -->
          
        </div>



      </div>            
      
      <div>
        {{stock.longDescription}}
      </div>
      <button [style.margin-right]="'5px'" (click)="showClick('less')">less {{stock.category}}</button>
      <button [style.margin-left]="'5px'" (click)="showClick('more')">more {{stock.category}}</button>
  </div>    
</div>

<!--  *ngFor="let bilder of count"-->