<div class="stock" style="background-image: url('../../assets/bg.jpg'); ">   
  <div class="card">
      <div>
        {{stock.description}}<br>
      </div>            

      <div>
          <div [style.position]="'relative'" [ngStyle]="backgroundImage()">            
                  
                <div *ngIf="aktienZahl">
                  <p class="aktienzahl">
                   {{myCountService.numberPrice}} €</p>
                </div>

                <div *ngIf="moneyZahl">
                    <p class="aktienzahl">
                     {{myCountService.numberPrice * 1000 * myCountService.numberStocks | number}} €</p>
                  </div>


                <img *ngFor="let bild of repeat"  [ngStyle]="setStyles()"         
                [src]="bild" 
                alt={{stock.description}}
                >  
          
        </div>
      </div>            
      
      <div>
        {{stock.longDescription}}
      </div>
      <button [style.margin-right]="'5px'"
       (click)="showClick('less')"
       *ngIf="!moneyZahl">less {{stock.category}}
      </button>
      <button [style.margin-left]="'5px'" 
       (click)="showClick('more')"
       *ngIf="!moneyZahl">more {{stock.category}}
      </button>
      
      <select [style.margin-left]="'5px'" *ngIf="moneyZahl">
          <option>Währung</option>
          <option>Option 2</option>
          <option>Option 3</option>
        </select>
  </div>    
</div>