* {
    font-family: Arial, Helvetica, sans-serif;
}

body {
    margin: 0;
}

.stock {
    max-width: 400px;    
    font-size: 1.2em;    
    display: inline-block;
    margin-right: 1em;
}

.card {    
    margin-bottom: 40px;
    text-align: center;
    border-radius: 4px;
    padding: 20px 0;
    box-shadow: 0 1px 16px 0 rgba(0, 0, 0, .2), 0 2px 8px 0 rgba(0, 0, 0, .14), 0 4px 8px -1px rgba(0, 0, 0, .12);
  }

  .card-title {
      color:red;
      font-size: 2em;
  }

  .left-side {
    padding-left:10%!important;
  }